<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="congnd91">
    <title>CIZ NEWS - Magazine, Blog & News HTML5 Template</title>
    <!-- Favicons -->
    <link rel="shortcut icon" href="http://www.cizthemes.com/template/ciznews/images/favicon.png">
    <link rel="apple-touch-icon" href="http://www.cizthemes.com/template/ciznews/images/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="http://www.cizthemes.com/template/ciznews/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="http://www.cizthemes.com/template/ciznews/images/apple-touch-icon-114x114.png">
    <!-- Online Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700" rel="stylesheet" />
    <!-- Vender -->
    <link href="css/font-awesome.min.css" rel="stylesheet" />
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/normalize.min.css" rel="stylesheet" />
    <link href="css/owl.carousel.min.css" rel="stylesheet" />
    <link href="css/jquery.bxslider.min.css" rel="stylesheet" />
    <!-- Main CSS (SCSS Compile) -->
    <link href="css/main.css" rel="stylesheet" />
    <!-- JavaScripts -->
    <!--<script src="js/modernizr.js"></script>-->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!--preload-->
    <div class="loader" id="page-loader">
        <div class="loading-wrapper">
            <p>Loading<span>.</span><span>.</span><span>.</span></p>
        </div>
    </div>
    <!--menu mobile-->
    <nav class="menu-res hidden-lg hidden-md ">
        <div class="menu-res-inner">
            <ul>
                <li class="menu-item-has-children">
                    <a href="index.html"> Home </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="index.html">Default Style</a>
                        </li>
                        <li>
                            <a href="home_slider_sidebarleft.html">Slider & Sidebar Left </a>
                        </li>
                        <li>
                            <a href="home_white_pinterest.html">White & Pinterest Style </a>
                        </li>
                        <li>
                            <a href="home_menu_fixed.html">Navigation Fixed Style  </a>
                        </li>
                        <li>
                            <a href="home_custom_font.html">Custom Font Style  </a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item-has-children">
                    <a href="category_one.html">
                        Category
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="category_one.html">Category I</a>
                        </li>
                        <li>
                            <a href="category_two.html">Category II </a>
                        </li>
                        <li>
                            <a href="category_three.html">Category III </a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item-has-children">
                    <a href="single_one_column.html">Single<span></span></a>
                    <ul class="sub-menu">
                        <li>
                            <a href="single.html">Single Default</a>
                        </li>
                        <li>
                            <a href="single_one_column.html">Single One Column</a>
                        </li>
                        <li>
                            <a href="single_center.html">Single Center Content</a>
                        </li>
                        <li>
                            <a href="single_center_white.html">Single Center White Style</a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item-has-children">
                    <a href="gallery.html">Pages<span></span></a>
                    <ul class="sub-menu">
                        <li>
                            <a href="404.html">Page 404</a>
                        </li>
                        <li>
                            <a href="gallery.html">Page Gallery</a>
                        </li>
                        <li>
                            <a href="single_review.html"> Review Panel</a>
                        </li>

                    </ul>
                </li>
                <li>
                    <a href="contact.html">Contact </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="page">
        <div class="container page-wrap">
            <!--header-->
            <header class="header">
                <div class="row">
                    <a href="index.html" class="logo">
                        <div>
                            <img alt="" src="http://www.cizthemes.com/template/ciznews/images/logo.png" />
                        </div>
                        <span class="type">wednesday march 08 2017</span>
                    </a>
                </div>
            </header>
            <!--menu-->
            <nav class="menu">
                <div class="menu-icon hidden-lg hidden-md">
                    <i class="fa fa-navicon"></i>
                    <span>MENU</span>
                </div>
                <ul class="hidden-sm hidden-xs">
                    <li class="menu-item-has-children">
                        <a href="index.html"><i class="fa fa-home"></i> Home </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="index.html">Default Style</a>
                            </li>
                            <li>
                                <a href="home_slider_sidebarleft.html">Slider & Sidebar Left </a>
                            </li>
                            <li>
                                <a href="home_white_pinterest.html">White & Pinterest Style </a>
                            </li>
                            <li>
                                <a href="home_menu_fixed.html">Navigation Fixed Style  </a>
                            </li>
                            <li>
                                <a href="home_custom_font.html">Custom Font Style  </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="category_one.html">
                            Category
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="category_one.html">Category I</a>
                            </li>
                            <li>
                                <a href="category_two.html">Category II </a>
                            </li>
                            <li>
                                <a href="category_three.html">Category III </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="single_one_column.html">Single<span></span></a>
                        <ul class="sub-menu">
                            <li>
                                <a href="single.html">Single Default</a>
                            </li>
                            <li>
                                <a href="single_one_column.html">Single One Column</a>
                            </li>
                            <li>
                                <a href="single_center.html">Single Center Content</a>
                            </li>
                            <li>
                                <a href="single_center_white.html">Single Center White Style</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="gallery.html">Pages<span></span></a>
                        <ul class="sub-menu">
                            <li>
                                <a href="404.html">Page 404</a>
                            </li>
                            <li>
                                <a href="gallery.html">Page Gallery</a>
                            </li>
                            <li>
                                <a href="single_review.html"> Review Panel</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="contact.html">Contact </a>
                    </li>
                </ul>
                <div class="menu-right-control">
                    <a href="single.html#" class="facebook"><i class="fa fa-facebook"></i></a>
                    <a href="single.html#" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="single.html#" class="youtube"><i class="fa fa-youtube-play"></i></a>
                    <span class="icon-search">
                        <i class="fa fa-search"></i>
                    </span>
                </div>
            </nav>
            <div class="searchbox">
                <input type="text" placeholder="Search here..." />
            </div>
            <!--cols-->
            <div class="cols">
                <!--colleft-->
                <div class="colleft">
                    <!--detail-->
                    <article class="detail">
                        <h1>Nec vero pietas adversus deos nec quanta iis gratia debeatur sine explicatione naturae intellegi potest.</h1>
                        <div class="post-meta">
                            <span class="post-category">
                                <a href="category_two.html">World</a>
                            </span>
                            <em>/</em>
                            <span class="post-date">
                                MAR 01, 2017
                            </span>
                            <div class="share-posts">
                                <span>
                                    Share
                                </span>
                                <a href="single.html#" class="facebook"><i class="fa fa-facebook"></i></a>
                                <a href="single.html#" class="twitter"><i class="fa fa-twitter"></i></a>
                            </div>
                        </div>
                        <img alt="" src="http://www.cizthemes.com/template/ciznews/images/p7.jpg" />

                        <div class="detail-content">
                            <p>
                                N ulla quis lorem ut libero malesuada feugiat. Cras ultricies ligula sed magna dictum porta. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Sed porttitor lectus nibh.

                                Quisque velit nisi, pretium ut lacinia in, elementum id enim. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Pellentesque in ipsum id orci porta dapibus.
                            </p>

                            <img alt="" src="http://www.cizthemes.com/template/ciznews/images/w8.jpg" />
                            <p>
                                Nulla quis lorem ut libero malesuada feugiat. Cras ultricies ligula sed magna dictum porta. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Sed porttitor lectus nibh.

                                Quisque velit nisi, pretium ut lacinia in, elementum id enim. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Pellentesque in ipsum id orci porta dapibus.
                            </p>

                            <p>
                                Cras ultricies ligula sed magna dictum porta. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Sed porttitor lectus nibh.

                                Quisque velit nisi, pretium ut lacinia in, elementum id enim. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Pellentesque in ipsum id orci porta dapibus.
                            </p>
                            <h2>The captions</h2>
                            <p>Vivamus suscipit tortor eget felis porttitor volutpat.  Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Nulla quis lorem ut libero malesuada feugiat. Curabitur aliquet quam id dui posuere blandit.</p>
                            <blockquote class="quote-item">
                                <div class="quote-item-content">
                                    <p> Design is a solution to a problem.<br> Art is a question to a problem</p>
                                    <span>- John Maeda</span>
                                </div>
                            </blockquote>
                            <p>
                                Donec sollicitudin molestie malesuada. Pellentesque in ipsum id orci porta dapibus. Proin eget tortor risus. Proin eget tortor risus.

                            </p>
                            <p>
                                Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Quisque velit nisi, pretium ut lacinia in, elementum id enim.

                            </p>


                            <p>
                                Vivamus suscipit tortor eget felis porttitor volutpat. Pellentesque in ipsum id orci porta dapibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.
                            </p>
                            <h3 class="author-article text-right">- Sue	Benson</h3>
                        </div>
                        <div class="social-article">
                            <a href="single.html#" class="facebook">
                                facebook
                            </a>
                            <a href="single.html#" class="google">google</a>
                            <a href="single.html#" class="twitter">twitter</a>
                            <a href="single.html#" class="instagram">instagram</a>
                        </div>
                    </article>
                    <!--related-post-->
                    <div class="box-caption box-caption-small">
                        <h2><span>RELATED POSTS</span></h2>
                    </div>
                    <div class="three-articles">
                        <div class="row">
                            <div class="col-md-4 col-xs-12">
                                <article class="three-item">
                                    <div class="ciz-thumb">
                                        <a href="single.html"><img alt="" src="http://www.cizthemes.com/template/ciznews/images/p2.jpg" /></a>
                                    </div>
                                    <h5><a href="single.html">Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.</a></h5>

                                </article>

                            </div>
                            <div class="col-md-4 col-xs-12">
                                <article class="three-item">
                                    <div class="ciz-thumb">
                                        <a href="single.html"><img alt="" src="http://www.cizthemes.com/template/ciznews/images/p3.jpg" /></a>
                                    </div>

                                    <h5><a href="single.html">The ups, downs and future of Tomonobu Itagaki's </a></h5>

                                </article>
                            </div>
                            <div class="col-md-4 col-xs-12">
                                <article class="three-item">
                                    <div class="ciz-thumb">
                                        <a href="single.html"><img alt="" src="http://www.cizthemes.com/template/ciznews/images/p4.jpg" /></a>
                                    </div>

                                    <h5><a href="single.html">Cras ultricies ligula sed magna dictum porta.</a></h5>

                                </article>
                            </div>
                        </div>
                    </div>
                    <!--comment-->
                    <div id="comments" class="comments-area">
                        <div class="detail-caption">
                            <span> 2  COMMENTS</span>
                        </div>
                        <ol class="comment-list">
                            <li class="comment">
                                <article class="comment-body">
                                    <footer class="comment-meta">
                                        <div class="comment-author vcard">
                                            <img alt="" src="http://www.cizthemes.com/template/ciznews/images/avatar2.jpg" class="avatar avatar-32 photo">
                                            <b class="fn">John Doe</b> <span class="says">says:</span>
                                        </div>

                                        <div class="comment-metadata">
                                            Mar 01 at 8:35 am
                                        </div>
                                    </footer>

                                    <div class="comment-content">
                                        <p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                    </div>

                                    <div class="reply"><a rel="nofollow" class="comment-reply-link" href="http://www.danhcong.com/themes/teznews/2016/11/11/master-the-art-of-making-great-coffee-with-these-6-tips/?replytocom=43#respond" onclick="return addComment.moveForm( &quot;div-comment-43&quot;, &quot;43&quot;, &quot;respond&quot;, &quot;756&quot; )" aria-label="Reply to SlicerMan">Reply</a></div>
                                </article>
                                <ol class="children">
                                    <li class="comment odd alt depth-2">
                                        <article class="comment-body">
                                            <footer class="comment-meta">
                                                <div class="comment-author vcard">
                                                    <img alt="" src="http://www.cizthemes.com/template/ciznews/images/avatar1.jpg" class="avatar">
                                                    <b class="fn">Admin</b> <span class="says">says:</span>
                                                </div>

                                                <div class="comment-metadata">
                                                    Mar 01 at 9:35 am
                                                </div>
                                            </footer>

                                            <div class="comment-content">
                                                <p>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Mauris blandit aliquet elit.</p>
                                            </div>

                                            <div class="reply"><a rel="nofollow" class="comment-reply-link" href="http://www.danhcong.com/themes/teznews/2016/11/11/master-the-art-of-making-great-coffee-with-these-6-tips/?replytocom=44#respond" onclick="return addComment.moveForm( &quot;div-comment-44&quot;, &quot;44&quot;, &quot;respond&quot;, &quot;756&quot; )" aria-label="Reply to SlicerMan">Reply</a></div>
                                        </article>
                                    </li>
                                </ol>
                            </li>
                            <li class="comment">
                                <article class="comment-body">
                                    <footer class="comment-meta">
                                        <div class="comment-author vcard">
                                            <img alt="" src="http://www.cizthemes.com/template/ciznews/images/avatar.jpg" class="avatar avatar-32 photo">
                                            <b class="fn">Tony Baby </b> <span class="says">says:</span>
                                        </div>
                                        <div class="comment-metadata">
                                            Mar 01 at 9:20 am
                                        </div>
                                    </footer>
                                    <div class="comment-content">
                                        <p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.  consectetur adipiscing elit. Vivamus suscipit tortor eget felis porttitor volutpat.</p>
                                    </div>
                                    <div class="reply"><a rel="nofollow" class="comment-reply-link" href="http://www.danhcong.com/themes/teznews/2016/11/11/master-the-art-of-making-great-coffee-with-these-6-tips/?replytocom=43#respond" onclick="return addComment.moveForm( &quot;div-comment-43&quot;, &quot;43&quot;, &quot;respond&quot;, &quot;756&quot; )" aria-label="Reply to SlicerMan">Reply</a></div>
                                </article>
                            </li>
                        </ol>
                        <div class="comment-respond">
                            <div class="comment-reply-title">
                                <div class="detail-caption">
                                    <span>  Leave a reply</span>
                                </div>
                            </div>
                            <div id="commentform" class="comment-form">
                                <div class="field-item">
                                    <textarea id="comment" name="comment" aria-required="true" placeholder="Your Comment Here.."></textarea>
                                </div><div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="field-item">
                                            <input id="author" name="author" placeholder="Name *" type="text" value="" tabindex="1">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="field-item">
                                            <input id="email" name="email" placeholder="Email *" type="text" value="" tabindex="2">
                                        </div>
                                    </div>
                                </div>
                                <p class="form-submit">
                                    <input name="submit" type="submit" class="my-btn my-btn-dark" value="SUBMIT" />

                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <!--colright-->
                <div class="colright">
                    <!-- dailies-->
                    <div class="dailies">
                        <div class="widget-title widget-title-white ">
                            <span>
                                DAILIES
                            </span>
                        </div>
                        <div class="dailies-content">
                            <div class="owl-carousel owl-dailies">
                                <div>
                                    <a href="single_center.html">
                                        <div class="ciz-thumb">
                                            <img alt="" src="http://www.cizthemes.com/template/ciznews/images/w3.jpg" />
                                        </div>
                                    </a>
                                    <h3>
                                        <a href="single_center.html">Satisne vobis videor pro meo iure in vestris auribus commentatus</a>
                                    </h3>
                                </div>
                                <div>
                                    <a href="single_center.html">
                                        <div class="ciz-thumb">
                                            <img alt="" src="http://www.cizthemes.com/template/ciznews/images/w2.jpg" />
                                        </div>
                                    </a>
                                    <h3>
                                        <a href="single_center.html">Nulla quis lorem ut libero malesuada feugiat.</a>
                                    </h3>
                                </div>
                                <div>
                                    <a href="single_center.html">
                                        <div class="ciz-thumb">
                                            <img alt="" src="http://www.cizthemes.com/template/ciznews/images/p1.jpg" />
                                        </div>
                                    </a>
                                    <h3>
                                        <a href="single_center.html">The ups, downs and future of Tomonobu Itagaki's</a>
                                    </h3>
                                </div>
                                <div>
                                    <a href="single_center.html">
                                        <div class="ciz-thumb">
                                            <img alt="" src="http://www.cizthemes.com/template/ciznews/images/w9.jpg" />
                                        </div>
                                    </a>
                                    <h3>
                                        <a href="single_center.html">Donec sollicitudin molestie malesuada.d</a>
                                    </h3>
                                </div>


                            </div>
                        </div>
                    </div>
                    <!-- popular posts-->
                    <div class="popular-box">
                        <div class="widget-title">
                            <span>
                                POPULAR POSTS
                            </span>
                        </div>
                        <div class="list-popular">
                            <article class="popular-item">
                                <div class="ciz-thumb">
                                    <a href="single_center.html">
                                        <img alt="" src="http://www.cizthemes.com/template/ciznews/images/w1.jpg">
                                    </a>
                                </div>
                                <div class="post-meta">
                                    <span class="post-category">
                                        <a href="category_two.html">WORLD</a>
                                    </span>
                                    <em>/</em>
                                    <span class="post-date">
                                        Feb 10, 2015
                                    </span>
                                </div>
                                <h5><a href="single_center.html">Cras ultricies ligula sed magna dictum porta.</a></h5>

                            </article>
                            <article class="popular-item">
                                <div class="ciz-thumb">
                                    <a href="single_center.html">
                                        <img alt="" src="http://www.cizthemes.com/template/ciznews/images/l1.jpg">
                                    </a>
                                </div>
                                <div class="post-meta">
                                    <span class="post-category">
                                        <a href="category_one.html">LIFE STYLE</a>
                                    </span>
                                    <em>/</em>
                                    <span class="post-date">
                                        Feb 10, 2015
                                    </span>
                                </div>
                                <h5><a href="single_center.html">Nulla quis lorem ut libero malesuada feugiat.</a></h5>

                            </article>
                            <article class="popular-item">
                                <div class="ciz-thumb">
                                    <a href="single_center.html">
                                        <img alt="" src="http://www.cizthemes.com/template/ciznews/images/p3.jpg">
                                    </a>
                                </div>
                                <div class="post-meta">
                                    <span class="post-category">
                                        <a href="category_three.html">PHOTOGRAPHY </a>
                                    </span>
                                    <em>/</em>
                                    <span class="post-date">
                                        Feb 10, 2015
                                    </span>
                                </div>
                                <h5><a href="single_center.html">Donec sollicitudin molestie malesuada.d</a></h5>

                            </article>
                            <article class="popular-item">
                                <div class="ciz-thumb">
                                    <a href="single_center.html">
                                        <img alt="" src="http://www.cizthemes.com/template/ciznews/images/p2.jpg">
                                    </a>
                                </div>
                                <div class="post-meta">
                                    <span class="post-category">
                                        <a href="category_three.html">PHOTOGRAPHY</a>
                                    </span>
                                    <em>/</em>
                                    <span class="post-date">
                                        Feb 10, 2015
                                    </span>
                                </div>
                                <h5><a href="single_center.html">The ups, downs and future of Tomonobu Itagaki's</a></h5>

                            </article>
                            <article class="popular-item">
                                <div class="ciz-thumb">
                                    <a href="single_center.html">
                                        <img alt="" src="http://www.cizthemes.com/template/ciznews/images/w7.jpg">
                                    </a>
                                </div>
                                <div class="post-meta">
                                    <span class="post-category">
                                        <a href="category_two.html">WORLD</a>
                                    </span>
                                    <em>/</em>
                                    <span class="post-date">
                                        Feb 10, 2015
                                    </span>
                                </div>
                                <h5><a href="single_center.html">Pellentesque in ipsum id orci porta dapibus.</a></h5>

                            </article>
                        </div>
                    </div>
                    <!-- connect us-->
                    <div class="connect-us">
                        <div class="widget-title">
                            <span>
                                CONNECT & FOLLOW
                            </span>
                        </div>
                        <ul class="list-social-icon">
                            <li>
                                <a href="single.html#" class="facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="single.html#" class="twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="single.html#" class="google">
                                    <i class="fa fa-google"></i>
                                </a>
                            </li>
                            <li>
                                <a href="single.html#" class="youtube">
                                    <i class="fa fa-youtube-play"></i>
                                </a>
                            </li>
                            <li>
                                <a href="single.html#" class="pinterest">
                                    <i class="fa fa-pinterest-p"></i>
                                </a>
                            </li>

                        </ul>
                    </div>
                    <!-- subcribe box-->
                    <div class="subcribe-box">
                        <h3>NEWSLETTER</h3>
                        <p>Enter your email address below to subscribe to my newsletter</p>
                        <input type="text" placeholder="Your email address..." />
                        <button class="my-btn">Subscribe</button>
                    </div>
                    <!-- trend post-->
                    <div class="trend-box">
                        <div class="widget-title">
                            <span>
                                TREND
                            </span>
                        </div>
                        <article class="trend-one">
                            <span class="number">01</span>
                            <div class="ciz-thumb">
                                <a href="single_center_white.html">
                                    <img alt="" src="http://www.cizthemes.com/template/ciznews/images/w2.jpg">
                                </a>
                            </div>

                            <h5><a href="single_center_white.html">Donec sollicitudin molestie malesuada.d</a></h5>

                        </article>
                        <ul class="list-trend">

                            <li class="trend-item">
                                <span class="number">
                                    <img alt="" src="http://www.cizthemes.com/template/ciznews/images/l1.jpg" />
                                    02
                                </span>


                                <h5><a href="single_center_white.html">Nulla quis lorem ut libero malesuada feugiat.</a></h5>

                            </li>
                            <li class="trend-item">

                                <span class="number">
                                    <img alt="" src="http://www.cizthemes.com/template/ciznews/images/w8.jpg" />
                                    03
                                </span>
                                <h5><a href="single_center_white.html">Cras ultricies ligula sed magna dictum porta.</a></h5>

                            </li>
                            <li class="trend-item">

                                <span class="number">
                                    <img alt="" src="http://www.cizthemes.com/template/ciznews/images/p4.jpg" />
                                    04
                                </span>
                                <h5>
                                    <a href="single_center_white.html">
                                        Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
                                    </a>
                                </h5>

                            </li>
                            <li class="trend-item">

                                <span class="number">
                                    <img alt="" src="http://www.cizthemes.com/template/ciznews/images/p3.jpg" />
                                    05
                                </span>
                                <h5><a href="single_center_white.html">The ups, downs and future of Tomonobu Itagaki's Devil's Third</a></h5>

                            </li>

                        </ul>
                    </div>
                    <!-- advertisement-->
                    <div class="ads hidden-sm hidden-xs ">
                        <p>advertisement</p>
                        <img alt="" src="http://www.cizthemes.com/template/ciznews/images/ads.jpg" class="img-responsive" />
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

            <!--footer-->
            <footer class="footer">
                <div class="footer-cols">
                    <div class="footer-col footer-col-left">
                        <div class="about">
                            <a href="index.html" class="logo">
                                <img alt="" src="http://www.cizthemes.com/template/ciznews/images/logo.png" />
                            </a>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
                            <ul class="list-social-icon-footer">
                                <li>
                                    <a href="single.html#" class="facebook">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="single.html#" class="twitter">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="single.html#" class="google">
                                        <i class="fa fa-google"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="single.html#" class="youtube">
                                        <i class="fa fa-youtube-play"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="single.html#" class="pinterest">
                                        <i class="fa fa-pinterest-p"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-col footer-col-center">
                        <h3> CATEGORIES</h3>
                        <ul class="list-category ">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="category_one.html">Life Style</a></li>
                            <li><a href="category_three.html">Photography</a></li>
                            <li><a href="gallery.html">Gallery</a></li>
                            <li><a href="single_center.html">Single Center</a></li>
                            <li><a href="single_one_column.html">One Column </a></li>
                            <li><a href="404.html">Page 404</a></li>
                            <li><a href="contact.html">Contact us</a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="footer-col">
                        <h3>INSTAGRAM</h3>
                        <ul class="instagram-pics">
                            <li>
                                <a href="single.html#">
                                    <img alt="" src="http://www.cizthemes.com/template/ciznews/images/i1.jpg" />
                                </a>
                            </li>
                            <li>
                                <a href="single.html#">
                                    <img alt="" src="http://www.cizthemes.com/template/ciznews/images/i2.jpg" />
                                </a>
                            </li>
                            <li>
                                <a href="single.html#">
                                    <img alt="" src="http://www.cizthemes.com/template/ciznews/images/i3.jpg" />
                                </a>
                            </li>
                            <li>
                                <a href="single.html#">
                                    <img alt="" src="http://www.cizthemes.com/template/ciznews/images/i4.jpg" />
                                </a>
                            </li>
                            <li>
                                <a href="single.html#">
                                    <img alt="" src="http://www.cizthemes.com/template/ciznews/images/i5.jpg" />
                                </a>
                            </li>
                            <li>
                                <a href="single.html#">
                                    <img alt="" src="http://www.cizthemes.com/template/ciznews/images/i6.jpg" />
                                </a>
                            </li>
                            <li class="clearfix"></li>
                        </ul>
                    </div>
                    <div class="clearfix">
                    </div>
                </div>
                <!--All right-->
                <div class="allright">
                    <span class="totop">
                        To <br /> top
                    </span>
                    <p> © 2017 <a href="single.html#">CIZ NEWS</a>. All rights reserved.</p>
                </div>
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                    </div>
                    <div class="col-sm-6 col-xs-12">
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <!--scrip file-->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.bxslider.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>